// Define colour scheme, variables and font
@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import url(https://fonts.googleapis.com/css2?family=Dongle);
$primary: #77A6F7;
$note: #F3E779;
$font: 'Dongle', sans-serif;
$light: hsl(0, 0%, 96%);
$dark: hsl(0, 0%, 21%);

// Import bulma framework
@import "../../node_modules/bulma/bulma.sass";