.sideNav {
    position: fixed;
    right: 0;
    margin: 0;
    top: 50px;
    height: 100vh;
    width: 20%;
    z-index: 99;
    opacity: 90%;
    transform: translateX(100%);
    transition: transform 0.5s ease;

    #{&}_user-icon {
        font-size: 25vh;
    }
}

// Show the sidebar
.sidebar-active {
    transform: translateX(0);
}

.sidebar-button {
    transition: transform 0.5s ease;
}


