@import "config";
@import "layout";
@import "home";
@import "projects";
@import "calendar";
@import "loading";
@import "error";

body {
  font-family: $font;
}

main {
  width: 100%;
  position: absolute;
  z-index: 1;
  transition: filter 0.5s ease;
  padding-top: 50px;
}

// Custom scroll bar
::-webkit-scrollbar {
  width: 12px;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $primary;
}

.blur{
  filter: blur(3px);
  pointer-events: none;
}

.my-button{
  display: block;
  margin: 20px auto;
}

.heading{
  font-size: 100px;
}

.close-btn{
  float: left;
}

.move{
  transform: translateX(100%);
}

.button{
  font-family: $font;
  background: $primary;
}

.sideForm{
  position: fixed;
  left: 30%;
  top: 100px;
  width: 40%;
  z-index: 100;
  border-radius: 10px;
  background: $note;
  transform: translateX(-200%);
  transition: transform 1s ease;

  .label{
    float: left;
    margin-bottom: 0;
  }

  .btn{
    padding: 10px;
  }
}

.move-form{
  transform: translateX(0%);
}

.card{
  background: $note;
  width: 31%;
  margin: 1rem;
}

.notes{
  display: flex;
  flex-flow: row wrap;

  .title{
    margin: 20px;
    margin-bottom: 0;
  }

  .card-content{
    padding-top: 0;
  }
}

.no-pad{
  padding-top: 0;
  padding-bottom: 30px;
}

.jobContainer{
  background: $dark;
  height: auto;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
  justify-content: center;

  .job-title{
    color: $primary;
    position: absolute;
    top: 0;
  }

  .jobs{
    width: calc(100% - 0.75rem * 2);
    height: 350px;
    overflow-y: scroll;

    dt{
      font-size: x-large;
    }

    dt span.icon{
      font-size: medium;
    }

    dd{
      font-size: large;
    }
  }

  .button{
    position: absolute;
    font-size: x-large;
    padding: 0 10px;
    bottom: 0;
  }
}

.dropdown-item{
  font-size: large;
}

#message{
  background: $primary;
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin-bottom: 10px;
}

#edit-note:hover, #delete-note:hover{
  cursor: pointer;
  font-size: x-large;
}

.calendar-icon {
  height: 1rem;
  
  .dropdown-trigger:hover{
    #edit-note, #delete-note{
      cursor: pointer;
      font-size: large;
      color: $primary;
    }
  }
}

.layout {
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
}

.jobs{
  width: 95%;
  margin: auto;
}

table{
  text-align: center;

  .#{&}-title, .#{&}-dueDate{
      white-space: nowrap;
  }
}
